@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sometype+Mono&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
body{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/Users/manan/stock/src/assets/pexels-anna-nekrashevich-6801648.jpg") ;
    background-position: center;
    background-size: cover;
}
.main{
    position: relative;
    top: 160px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/Users/manan/stock/src/assets/7TrU.gif");
    background-position: center;
    background-size: cover;
    color: white;
    width: 40%;
    border-radius: 10px;
}
.head{
    padding-top:  10px ;
}
option{
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
}
